.tmblr-iframe
  display none
  
body
  font-family $fontfamily
  background-color #F3F3F3
  color $color_text
  width 100%
  min-width 1024px  
hr
  margin-right auto
  margin-left auto  
  border-color $color_gold
  border-width: 1px

