//font
$fontfamily = Times , "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

//color
$color_black = #656565
$color_white = #F1F1F1
$color_gold = #BE9218
$color_glay = #50606A
$color_brown = #807565
$color_blue = #68707C
$color_link = #898A8B

//default color
$color_text = $color_glay
$color_line = $color_gold
