@import 'components/_reset'

@import '_config'
@import '_base'

//component
@import 'components/_header'
@import 'components/_header_top'
@import 'components/_header_other'
@import 'components/_footer'

//top
@import 'components/_newslist'
@import 'components/_photolist'

//about
@import 'components/_about'

//blog

@import 'components/_blog_exhi'


//single
@import 'components/_single'
