.about
  h1
    padding-top 4%
    padding-bottom 2%
    text-align center
    font-size 2em
.about_unun
  padding-top 10%  
  img
    text-align center
    display block
    margin 0 auto
.logo_text
  padding-top 4%
  padding-bottom 3% 
.unun_text
  p
    line-height 2.2
    text-align center
.about_us
  display table
  margin 0 auto 0 auto
  img
    width 400px
    padding-top 2em  
  h2
    font-size 1.7em 
    text-align left
    margin-top 1.7em
    margin-bottom 0.5em 
  p
    line-height 1.7
    margin-bottom 1.3em
  p,ul
    text-align left
    font-size 0.8em
    
  ul
    padding-left 1em
    
  li
    list-style-type disc
    margin-bottom 0.2em
  a
    text-decoration none
    color $color_gold
  a:hover
    color $color_text
  .about_yuu,
  .about_nnm
    display table-cell
    padding-bottom 2em
.about_yuu
  padding-right 8em
.about_line
  width 78% 
.about_line:last-of-type
  padding-bottom 4em
