.page_title
  font-size 2em
  text-align center
  margin-top 60px
  margin-bottom 30px

.page_line
  width 40%
  margin-bottom 70px
  
.Exhilist_none
  display none
  font-size 2em 
  margin -30px auto 30px auto
  
.ExhiList_itembody
  img
    text-align center
    width 100%
    max-width 1068px
    display block
    margin auto
    padding-bottom 54px

.ExhiList_iteminfo
  margin 0 auto
  width 100%
  max-width 1068px
  padding-bottom 54px
  font-size 18px
  a
    text-decoration none
    color $color_text
.BlogList_itemInfo
  margin 0 auto
  width 100%
  max-width 900px 
  font-size 24px
  padding-bottom 2em
  padding-left 5em
  a
    text-decoration none
    color $color_text
  a:hover
    color $color_gold 
  span
    text-align left
    
  
  