.footer
  width 100%
  min-width 1024px 
  height 276px
  background-color $color_brown
  color $color_white 
  text-align center
  p
    padding-bottom 15px
    letter-spacing 0.1em
  img
    padding-top 76px
    padding-bottom 48px 
  
  ul
    margin-right 30px 
  ul,li
    display inline
    li
      margin-left 30px