.footer
  height 276px
  background-color $color_brown
  color $color_white 
  text-align center
  p
    padding-bottom 15px
  img
    padding-top 76px
    padding-bottom 48px 
  
  ul
    margin-right 30px 
  ul,li
    display inline
    li
      margin-left 30px