.header_top
  background url(https://raw.githubusercontent.com/u-1-p/ununtheme/master/source/assets/img/top_top.jpg) no-repeat
  -webkit-background-size cover
  -o-background-size cover
  background-size cover
  height 100vh
.header_logo_text
  img
    position absolute
    left 0
    right 0
    top 40%
    margin auto
    width 30%
