.header_image_other
  background-size cover
.header_about_bkg
  background url(https://raw.githubusercontent.com/u-1-p/ununtheme/master/source/assets/img/about_top.jpg) no-repeat center 0
  background-size cover
.header_blog_bkg
  background url(https://raw.githubusercontent.com/u-1-p/ununtheme/master/source/assets/img/blog_top.jpg) no-repeat center 0 
  background-size cover
.header_exhi_bkg
  background url(https://raw.githubusercontent.com/u-1-p/ununtheme/master/source/assets/img/exhi_top.jpg) no-repeat center 0 
  background-size cover

.header_single_bkg
  background url(https://raw.githubusercontent.com/u-1-p/ununtheme/master/source/assets/img/single_top.jpg) no-repeat center 0 
  background-size cover
  
  