.header_listitem
  padding-bottom 28% 
  img
    margin-top 2%
    margin-left 51px
    padding-top 0.7%
    width 2.5em
  ul
    float right
    padding-top 3%
    margin-right 11px
  ul,li
    display: inline
    li
      margin-right 40px
    a
      font-size 29px
      color $color_blue
      text-decoration none
    a:hover
      color $color_gold