.header_top
  background url(/assets/img/top_top.jpg) no-repeat fixed
  background-size cover
  height 100vh
.header_logo_text
  img
    position absolute
    left 0
    right 0
    top 40%
    margin auto
    width 30%
