
.header_top
  background-color #fff 
  position relative

.header_img
  img
    margin-top 2%
    margin-bottom 7% 
    width 100%
.header_logo_text
  img
    position absolute
    left 0
    right 0
    top 36%
    margin auto
    width 40%
