
.News_list
  text-align center
  padding-top 10%
  padding-bottom 10%
  h1
    margin-top 17px
    margin-bottom 18px
    font-size 2em
  hr
    margin auto
    width 48%
    border-color $color_gold
    border-width: 1px
    margin-bottom 2em 

.news_more
  margin-top 1.1em
  margin-bottom  1.5em
  a
    font-size 1.2em
    text-decoration none 
    color $color_link
  a:hover
    color $color_gold
.NewsList_itemInfo
  margin-top 0.5em
.Newslist_items
  span
    line-height 1.4em 
  a
    font-size 1.2em
    text-decoration none
    color $color_text
  a:hover
    color $color_gold  