
.News_list
  text-align center
  padding-bottom 77px
  h1
    margin-top 17px
    margin-bottom 20px
    font-size 26px
  hr
    margin auto
    width 649px
    border-color $color_gold
    border-width: 2px
  a
    font-size 19px
    text-decoration none
    color $color_text
  a:hover
    color $color_gold  
  .news_more
    margin-top 21px
    margin-bottom  21px
    a
      color #B9B9B9
    a:hover
      color $color_gold
.NewsList_itemInfo
  margin-top 30px
